{% load static %}
<!DOCTYPE HTML>
<html lang="ko"> <!-- 코드언어 표시 == 웹 표준지침 준수 -->
	<head>
		<title>바른자세 회사소개</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="icon" href="{% static 'assets/images/logo_page.png' %}" type="image/x-icon" />
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'home:home' %}"><img src="{% static 'assets/images/logo_page.png' %}"style="width:45px; height:auto;"></a></h1>
						<nav class="links">
							<ul>
								{% if not user.is_authenticated %}
									<li><a href="{% url 'accounts:login' %}?next={{request.path}}">로그인</a></li>
									<li><a href="{% url 'accounts:signup' %}?next={{request.path}}">회원가입</a></li>
								{% else %}
									<li><a href="{% url 'accounts:profile' %}">{{user}}님!</a></li>
									<li><a href="{% url 'accounts:logout' %}?next={{request.path}}">로그 아웃</a></li>
								{% endif %}
								<li class="menu-item-board"><a href="{% url 'brd:notice_board' %}">게시판</a></li>
								<li class="menu-item-company"><a href="{% url 'home:intro' %}">회사소개</a></li>
								<li><a href="{% url 'service:service' %}">서비스</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
								<script>
									document.addEventListener('DOMContentLoaded', function() {
										// 검색 폼 제출 이벤트 리스너 추가
										document.querySelector('.search').addEventListener('submit', function(event) {
											event.preventDefault(); // 기본 제출 동작 방지
											var query = document.querySelector('.search input[name="query"]').value; // 검색어 가져오기
											redirectToPageBasedOnQuery(query); // 검색 처리 함수 호출
										});
									});
								
									function redirectToPageBasedOnQuery(query) {
										if (query.includes('통계 결과', '통계', '기록')) {
											window.location.href = '{% url 'service:statistics' %}';
										} else if (query.includes('모니터링', '서비스', '카메라')) {
											window.location.href = '{% url 'service:service' %}';
										} else if (query.includes('FAQ','질문사항','질문', '')) {
											window.location.href = '{% url 'brd:faq' %}';
										} else if (query.includes('게시판')) {
											window.location.href = '{% url 'brd:notice_board' %}';
										} else if (query.includes('회사소개')) {
											window.location.href = '{% url 'home:intro' %}';
										} else if (query.includes('회원가입')) {
											window.location.href = '{% url 'accounts:signup' %}';
										} else if (query.includes('모델성능')) {
											window.location.href = '{% url 'service:model' %}';
										} else if (query.includes('게임')) {
											window.location.href = '{% url 'service:game' %}';
										} else {
											// 다른 검색어에 대한 처리 (옵션)
											// 예: window.location.href = '/search?query=' + encodeURIComponent(query);
										}
									}
								</script>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'service:service' %}">
											<h3>모니터링</h3>
											<p>당신의 자세에 대해 분석해보세요</p>
										</a>
									</li>
									<li>
										<a href="{% url 'service:statistics' %}">
											<h3>통계 결과</h3>
											<p>다양한 통계 결과를 시각화 해보세요</p>
										</a>
									</li>
									<li>
										<a href="{% url 'brd:notice_board' %}">
											<h3>게시판</h3>
											<p>결과를 다른 사람들과 비교해 보고 질문해 보세요</p>
										</a>
									</li>
									<li>
										<a href="{% url 'brd:faq' %}">
											<h3>FAQ</h3>
											<p>저희의 바른자세 서비스에 대해 알아보세요</p>
										</a>
									</li>
								</ul>
							</section>
					</section>

                    {% block content %}
                    {% endblock %}

				<!-- Footer -->
				<section id="footer">
					<div class="footer-logo">
						<img src="{% static 'assets/images/logo_page.png' %}" alt="바른자세 로고" />
					</div>
					<ul class="icons">
						<li><a href="https://twitter.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:your@email.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<div class="policy-links">
						| <a href="javascript:void(0);" onclick="openPrivacyPolicy();">개인정보처리방침</a>
						| <a href="javascript:void(0);" onclick="openTermsOfService();">이용약관</a>
						| <a href="javascript:void(0);" onclick="openFaq();">자주묻는질문</a>
						| <a href="javascript:void(0);" onclick="openDataPolicy();">데이터베이스이용약관</a> |
					</div>
					<script>
						function openPrivacyPolicy() {
							window.open('{% url 'home:privacy_policy' %}', 'Privacy Policy', 'width=600,height=400');
						}
						
						function openTermsOfService() {
							window.open('{% url 'home:terms_of_service' %}', 'Terms of Service', 'width=600,height=400');
						}
						
						function openFaq() {
							window.open('{% url 'brd:faq' %}', 'FAQ', 'width=600,height=400');
						}
						
						function openDataPolicy() {
							window.open('{% url 'home:data_policy' %}', 'Data Policy', 'width=600,height=400');
						}
					</script>						
					<p class="copyright">
						<a href="https://aivle.edu.kt.co.kr/home/main/goMenuPage?mcd=MC00000034">KT Aivle School</a> Designed by Aivle 4기 10조.
					</p>
				</section>

		</div>

	<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>