[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/anaconda3/envs/sb/bin/uwsgi -i /home/ubuntu/deploy/team10/team10/.config/uwsgi/team10.ini


Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target