{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>바른자세 통계확인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/service.css' %}">
		<link rel="icon" href="{%static 'assets/images/logo_page.png' %}" type="image/x-icon" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body class="single is-preload">
		
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"><img src="{%static 'assets/images/logo_page.png' %}"style="width:45px; height:auto;"></a></h1>
						<nav class="links">
							<ul>
								{% if not user.is_authenticated %}
									<li><a href="{% url 'accounts:login' %}?next={{request.path}}">로그인</a></li>
									<li><a href="{% url 'accounts:signup' %}?next={{request.path}}">회원가입</a></li>
								{% else %}
									<li><a href="{% url 'accounts:profile' %}">{{user}}님!</a></li>
									<li><a href="{% url 'accounts:logout' %}?next={{request.path}}">로그 아웃</a></li>
								{% endif %}
								<li class="menu-item-board"><a href="{% url 'brd:notice_board' %}">게시판</a></li>
								<li class="menu-item-contact"><a href="{% url 'brd:faq' %}">FAQ</a></li>
								<li class="menu-item-company"><a href="{% url 'home:intro' %}">회사소개</a></li>
								<li><a href="{% url 'service:service' %}">서비스</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
								<script>
									document.addEventListener('DOMContentLoaded', function() {
										// 검색 폼 제출 이벤트 리스너 추가
										document.querySelector('.search').addEventListener('submit', function(event) {
											event.preventDefault(); // 기본 제출 동작 방지
											var query = document.querySelector('.search input[name="query"]').value; // 검색어 가져오기
											redirectToPageBasedOnQuery(query); // 검색 처리 함수 호출
										});
									});
								
									function redirectToPageBasedOnQuery(query) {
										if (query.includes('통계 결과')) {
											window.location.href = '{% url 'service:statistics' %}';
										} else if (query.includes('모니터링')) {
											window.location.href = '{% url 'service:service' %}';
										} else if (query.includes('FAQ')) {
											window.location.href = '{% url 'brd:faq' %}';
										} else if (query.includes('게시판')) {
											window.location.href = '{% url 'brd:notice_board' %}';
										} else if (query.includes('회사소개')) {
											window.location.href = '{% url 'home:intro' %}';
										} else if (query.includes('회원가입')) {
											window.location.href = '{% url 'accounts:signup' %}';
										} else if (query.includes('모델성능')) {
											window.location.href = '{% url 'service:model' %}';
										} else if (query.includes('게임')) {
											window.location.href = '{% url 'service:game' %}';
										} else {
											// 다른 검색어에 대한 처리 (옵션)
											// 예: window.location.href = '/search?query=' + encodeURIComponent(query);
										}
									}
								</script>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'service:service' %}">
											<h3>모니터링</h3>
											<p>당신의 자세에 대해 분석해보세요</p>
										</a>
									</li>
									<li>
										<a href="{% url 'service:statistics' %}">
											<h3>통계 결과</h3>
											<p>다양한 통계 결과를 시각화 해보세요</p>
										</a>
									</li>
									<li>
										<a href="{% url 'brd:notice_board' %}">
											<h3>게시판</h3>
											<p>결과를 다른 사람들과 비교해 보고 질문해 보세요</p>
										</a>
									</li>
									<li>
										<a href="{% url 'brd:faq' %}">
											<h3>FAQ</h3>
											<p>저희의 ~ 알아보세요</p>
										</a>
									</li>
								</ul>
							</section>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">나의 일일 자세를 시각적으로 확인해보세요</a></h2>
										<p>그래프와 각종 통계자료로 확인해보세요</p>
									</div>
									<div class="meta">
										<style>
											.meta {
											  position: relative; /* position context를 설정합니다. */
											  width: 100%; /* 필요한 경우 부모 요소의 너비를 지정합니다. */
											  height: 100%; /* 필요한 경우 부모 요소의 높이를 지정합니다. */
											}
										  
											.meta img {
											  width: 100%; /* 이미지가 부모 요소의 너비에 맞춰지도록 합니다. */
											  height: 100%; /* 이미지가 부모 요소의 높이에 맞춰지도록 합니다. */
											  object-fit: cover; /* 이미지가 비율을 유지하면서 부모 요소를 가득 채우도록 합니다. */
											}
										  </style>
										<time class="published" id="current-time"></time>
										<a href="https://data.kma.go.kr/cmmn/main.do" class="author">
										  <span class="name"></span>
										  <img src="{% static 'assets/images/turtle_move.gif' %}" alt="반복되는 거북이 애니메이션" />
										</a>
									  </div>
									<script>
										// 현재 날짜와 시간을 가져와서 업데이트하는 함수
										function updateTime() {
										  var now = new Date();
										  var months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
										  var formattedDate = months[now.getMonth()] + " " + now.getDate() + ", " + now.getFullYear();
										
										  // HTML의 time 요소를 찾아서 현재 날짜와 시간으로 설정
										  document.getElementById('current-time').textContent = formattedDate;
										}
										
										// 웹 페이지가 로드될 때 함수를 실행
										window.onload = function() {
										  updateTime();
										};
									</script>
								</header>
								<br>
								<style>
									video{
										transform: rotateY(180deg);
										-webkit-transform:rotateY(180deg); /* Safari and Chrome */
										-moz-transform:rotateY(180deg); /* Firefox */
									}
								</style>
								</header>
								<!-- 통계 데이터 섹션 -->
								<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
								<section id="statistics">
									<h3>일일 자세 분석</h3>
									<div class="statistic">
										<h4>정확한 자세 지속 시간 비율</h4>
										<p>{{ correct_posture_ratio }} 시간</p>
									</div>
									<div class="statistic">
										<h4>부정확한 자세 지속 시간 비율</h4>
										<p>{{ incorrect_posture_ratio }} 시간</p>
									</div>
									<section id="statistics" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
										<!-- 막대 그래프 섹션 -->
										<div class="graph-container">
											<h3>일일 자세 분석 - 막대 그래프</h3>
											<canvas id="barChart"></canvas>
										</div>
										
										<!-- 꺾은선 그래프 섹션 -->
										<div class="graph-container">
											<h3>일주일 자세 변화 - 꺾은선 그래프</h3>
											<canvas id="lineChart"></canvas>
										</div>
										
										<!-- 원형 그래프 섹션 -->
										<div class="graph-container">
											<h3>일일 자세 요약 - 원형 그래프</h3>
											<canvas id="pieChart"></canvas>
										</div>
									
														
										<!-- 레이더 차트 섹션 -->
										<div class="graph-container">
											<h3>자세 유형별 비교 - 레이더 차트</h3>
											<canvas id="radarChart"></canvas>
										</div>
									</section>
									<style>
										.graph-container {
											flex: 1 1 45%; /* 화면의 45%를 차지합니다. */
											max-width: 45%; /* 최대 너비 제한 */
											padding: 20px;
											box-sizing: border-box;
										}
										canvas {
											width: 100% !important; /* 캔버스 너비를 부모 요소에 맞춥니다. */
											height: auto !important; /* 높이는 자동 조절 */
										}
									</style>
									<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
									<script>
										window.onload = function() {
											// Django 템플릿에서 데이터 가져오기
											var correctPostureRatio = parseFloat("{{ correct_posture_ratio }}");
											var incorrectPostureRatio = parseFloat("{{ incorrect_posture_ratio }}");
											var postureCounts = [parseFloat("{{ posture1_cnt }}"), parseFloat("{{ posture2_cnt }}"), parseFloat("{{ posture3_cnt }}"), parseFloat("{{ posture4_cnt }}")];

											// 막대 그래프 생성
											var barCtx = document.getElementById('barChart').getContext('2d');
											var barChart = new Chart(barCtx, {
												type: 'bar',
												data: {
													labels: ['정확한 자세', '부정확한 자세'],
													datasets: [{
														label: '자세 비율',
														data: [correctPostureRatio, incorrectPostureRatio],
														backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
														borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
														borderWidth: 1
													}]
												},
												options: {
													scales: {
														yAxes: [{
															ticks: {
																beginAtZero: true
															}
														}]
													}
												}
											});


											// 원형 그래프 생성
											var pieCtx = document.getElementById('pieChart').getContext('2d');
											var pieChart = new Chart(pieCtx, {
												type: 'pie',
												data: {
													labels: ['거북목 자세', '턱괴는 자세', '엎드리는 자세', '누워 기대는 자세'],
													datasets: [{
														data: postureCounts,
														backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)'],
														borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)'],
														borderWidth: 1
													}]
												}
											});


											// 꺾은선 그래프 생성
											var lineCtx = document.getElementById('lineChart').getContext('2d');
											var lineChart = new Chart(lineCtx, {
												type: 'line',
												data: {
													labels: ['월', '화', '수', '목', '금', '토', '일'],
													datasets: [{
														label: '일주일간의 자세 변화',
														data: [65, 59, 80, 81, 56, 55, 40], // 예시 데이터, 실제 데이터로 대체 필요
														borderColor: 'rgb(75, 192, 192)',
														tension: 0.1
													}]
												},
												options: {
													scales: {
														yAxes: [{
															ticks: {
																beginAtZero: true
															}
														}]
													}
												}
											});

											// 레이더 차트 생성
											var radarCtx = document.getElementById('radarChart').getContext('2d');
											var radarChart = new Chart(radarCtx, {
												type: 'radar',
												data: {
													labels: ['거북목 자세', '턱괴는 자세', '엎드리는 자세', '누워 기대는 자세'],
													datasets: [{
														label: '자세 유형별 비교',
														data: postureCounts, // 예시 데이터, 실제 데이터로 대체 필요
														backgroundColor: 'rgba(255, 99, 132, 0.2)',
														borderColor: 'rgba(255, 99, 132, 1)',
														borderWidth: 1
													}]
												},
												options: {
													scales: {
														r: {
															angleLines: {
																display: false
															},
															suggestedMin: 0,
															suggestedMax: 100
														}
													}
												}
											});

										};
									</script>

								<footer>
									<ul class="stats">
										
									</ul>
									<ul class="actions">
										<!-- 게임화된 통계 페이지로 가는 링크를 추가합니다 -->
										<li><a href="{% url 'service:game' %}" class="button large">자세 교정 게임하기</a></li>
									</ul>
								</footer>
							</article>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="footer-logo">
							<img src="{%static 'assets/images/logo_page.png' %}" alt="바른자세 로고" />
						</div>
						<ul class="icons">
							<li><a href="https://twitter.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="mailto:your@email.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<div class="policy-links">
							| <a href="javascript:void(0);" onclick="openPrivacyPolicy();">개인정보처리방침</a>
							| <a href="javascript:void(0);" onclick="openTermsOfService();">이용약관</a>
							| <a href="javascript:void(0);" onclick="openFaq();">자주묻는질문</a>
							| <a href="javascript:void(0);" onclick="openDataPolicy();">데이터베이스이용약관</a> |
						</div>
						<script>
							function openPrivacyPolicy() {
								window.open('{% url 'home:privacy_policy' %}', 'Privacy Policy', 'width=600,height=400');
							}
							
							function openTermsOfService() {
								window.open('{% url 'home:terms_of_service' %}', 'Terms of Service', 'width=600,height=400');
							}
							
							function openFaq() {
								window.open('{% url 'brd:faq' %}', 'FAQ', 'width=600,height=400');
							}
							
							function openDataPolicy() {
								window.open('{% url 'home:data_policy' %}', 'Data Policy', 'width=600,height=400');
							}
						</script>						
						<p class="copyright">
							<a href="https://aivle.edu.kt.co.kr/home/main/goMenuPage?mcd=MC00000034">KT Aivle School</a> Designed by Aivle 4기 10조.
						</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>