{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<script
		src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
		crossorigin="anonymous"></script>
		<script src='{% static "assets/js/cookie_csrf.js" %}'></script>
<body>
    <button onclick="makeNoti();">Notify me!</button>

    <p>
        <label for="Timer">남은 시간:</label>
        <input id="Timer" type="text" value="" readonly/>
        <hr>
        <div id='timer'></div>
        <hr>
        <div id='subscription'></div>
       </p>
       <br>
       <hr>


<!-- Scripts -->
    <script src='{% static "assets/js/test.js" %}'></script>
</body>
</html>