{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>비밀번호 찾기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="icon" href="{% static 'images/logo_page.png' %}" type="image/x-icon" />
</head>
<body>
    <h2>비밀번호 찾기</h2>
    <form action="recoverPasswordProcess.php" method="post">
        <label for="userID">사용자 ID:</label>
        <input type="text" id="userID" name="userID" required>
        <input type="submit" value="비밀번호 재설정 링크 받기">
    </form>
</body>
</html>